# C SHARP
*.dll
*.exe
*.pdb
*.bin
*.obj

# Msdfgen.Cli
Msdfgen.Cli/RawMsdf/**
Msdfgen.Cli/Render/**
Msdfgen.Cli/ExceptedOutput/**
Msdfgen.Cli/bin/**
Msdfgen.Cli/obj/**

# Msdfgen.Core
Msdfgen.Core/bin/**
Msdfgen.Core/obj/**

# Msdfgen.Extensions
Msdfgen.Extensions/bin/**
Msdfgen.Extensions/obj/**

# MsdfAtlasGen
MsdfAtlasGen/bin/**
MsdfAtlasGen/obj/**

# MsdfAtlasGen.Cli
MsdfAtlasGen.Cli/bin/**
MsdfAtlasGen.Cli/obj/**
MsdfAtlasGen.Cli/output/**